/* grey: #343838 */
/* c0:   #005F6B */
/* c1:   #008C9E */
/* c2:   #00B4CC */
/* c3:   #00DFFC */


body, html{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #005F6B; 
}


#editor{
    background: #eee;
    padding: 1mm;
}

#udf{
    display:none;
}

.a4{
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    padding: 15mm 23mm;
    box-shadow: 0px 0px 5px #000;
    box-sizing: border-box;
    background: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    letter-spacing: 0.01em;
    line-height: 1.25em;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.underline.line-through{
    text-decoration: underline line-through;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}

.taj{
    text-align: justify;
}

.tac{
    text-align: center;
}

table{
    width: 100%;
	table-layout:fixed;
}

table td {
	height:21px;
}

footer p, header p,table p {
    margin: 0;
}

.wrapper{
    position:relative;
    box-sizing: border-box;
}

.wrapper p{
	margin:0;
}


.ellipse{
    list-style-type: circle;
}

.rectangle{
    list-style-type: square;
}

.initial{
    list-style-type: initial;
}

.arrow{
    list-style-type: disclosure-closed;
}

.diamond{
    list-style-type: square;
}

.triangle{
    list-style-type:disclosure-closed ;
}

.rectangle_d{
    list-style-type: square;
}

.number_dot{
    list-style-type:decimal ;
}

.number_tre{
    list-style-type: decimal;
}

.number_paranthese{
    list-style-type: decimal;
}

.roman_dot{
    list-style-type: upper-roman;
}

.char_big_dot{
    list-style-type: upper-alpha;
}

.char_small_paranthese{
    list-style-type: lower-alpha;
}

.char_small_dot{
    list-style-type: lower-alpha;
}

.roman_small_dot{
    list-style-type: lower-roman;
}






.row{
    margin: 0;
    padding: 0;
}

#header{
    background: #343838; 
    padding: 10px;
}

#header h1{
    color: #fff; 
    font-size: 1.5em;
    line-height: 40px;
    margin: 5px 0;
}

.logo{
    color: #008C9E;
    margin: 5px 0;
    font-size: 1.5em;
    transition: all .3s;
    line-height: 40px;
    display: block;
}

.logo:hover{
    color: #00DFFC; 
    text-decoration: none;
}

.home{
    margin: 60px 0;
}

.home-buttons{
    text-align: center;
}

.home-buttons i{
    font-size: 10em;
    color: #008C9E;
}

ul{
    list-style-type: none;
}

#footer{
    background: #343838; 
    padding: 10px;
}

#footer p{
    color: #fff;
    margin: 0;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#goPdf{
    position: absolute;
    top: 160px;
}



@page {
    size: A4;
    margin: 0;
}

@media print {
    body * {
        visibility: hidden;
    }

    .a4, .a4 * {
        visibility: visible;
        box-shadow: none;
    }

    .a4{
        width: 210mm;
        height: 297mm;
        padding: 0;
    }
}
